ALTER TABLE "BotSettings" ADD COLUMN "reminderEnabled" BOOLEAN DEFAULT TRUE; ALTER TABLE "BotSettings" ADD COLUMN "reminderWindowStartHours" INTEGER DEFAULT 30; ALTER TABLE "BotSettings" ADD COLUMN "reminderWindowEndHours" INTEGER DEFAULT 18; ALTER TABLE "BotSettings" ADD COLUMN "reminderTemplate" TEXT DEFAULT '⏰ *Pengingat Jadwal Reservasi*\n\nHalo *{name}*,\nSekadar mengingatkan jadwal reservasi *{service}* Anda pada *{date}* besok.\n\n📌 *Catatan*: Mohon hadir 15 menit sebelum jam tindakan.\nJika ada perubahan jadwal, silakan balas chat ini ya. Terima kasih! 🙏';
